<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dealer Rate Utility

        </h1>
    </div>
    <!-- Content Row -->


    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">

            <div class="filter-box">
                Dealer: <input type="text" name="dealername" class="form-control " value="HYTST001" />
            </div>
            <br>
            <ul class="nav nav-pills-invoice mb-3 ">

                <li class="nav-item"><a href="#navpills-1" class="nav-link " data-toggle="tab"
                        aria-expanded="false">Dealer Name : Hyundai Test Dealer </a>
                </li>

            </ul>

     <div class="table-responsive">
                <table class="table table-bordered table-hover filesTable" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Description</th>
                            <th>Form Name</th>
                            <th>Coverage Description</th>
                            <th class="text-center">Details</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                                        <tr>
											<th>#</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> -->
                    <tbody>

                        <tr>
                            <td>HYLS
                            </td>
                            <td>
                                HPP Excess Lease and Use
                            </td>
                            <td class="center">
                                ESHYLS0922
                            </td>
                            <td>Lease Coverage</td>
                            <td class="text-center">
                                <a href="#" class="icon mr-2 success show-hover">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>HYVS
                            </td>
                            <td>
                                Hyundai Vehicle Service Contract
                            </td>
                            <td class="center">
                                ESHYVSC0922
                            </td>
                            <td>Platiumn Coverage</td>
                            <td class="text-center">
                                <a href="#" class="icon mr-2 success show-hover">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>HYVS
                            </td>
                            <td>
                                Hyundai Vehicle Service Contract
                            </td>
                            <td class="center">
                                ESHYVSC0922
                            </td>
                            <td>Gold Coverage</td>
                            <td class="text-center">
                                <a href="#" class="icon mr-2 success show-hover">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>HYTW
                            </td>
                            <td>
                                Hyundai Tire & Wheel Protection
                            </td>
                            <td class="center">
                                ESHYTW0922
                            </td>
                            <td>Tire & Wheel</td>
                            <td class="text-center">
                                <a href="#" class="icon mr-2 success show-hover">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>HYAP
                            </td>
                            <td>
                                Hyundai Appearance Protection
                            </td>
                            <td class="center">
                                ESHYAP0721
                            </td>
                            <td>Appearance Protection</td>
                            <td class="text-center">
                                <a href="#" class="icon mr-2 success show-hover">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </div>

</div>